<div class="user-input-form">
  <div class="user-intro">
    Enter Users:
  </div>
  <form #form="ngForm" [formGroup]="addUserForm" (submit)="submit(form)">
    <mat-form-field>
      <mat-label> Name
      </mat-label>
      <input matInput formControlName="name" required>
      <mat-error *ngIf="addUserForm.controls.name.touched && addUserForm.controls.name.invalid">
        <span *ngIf="addUserForm.controls.name.errors.required">This field is required.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Friends
      </mat-label>
      <input matInput formControlName="friends" required>
      <mat-error *ngIf="addUserForm.controls.friends.touched && addUserForm.controls.friends.invalid">
        <span *ngIf="addUserForm.controls.friends.errors.required">This field is required.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Age
      </mat-label>
      <input matInput formControlName="age" type="number" required>
      <mat-error *ngIf="addUserForm.controls.age.touched && addUserForm.controls.age.invalid">
        <span *ngIf="addUserForm.controls.age.errors.required">This field is required.</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Weight
      </mat-label>
      <input matInput formControlName="weight" type="number" required>
      <mat-error *ngIf="addUserForm.controls.weight.touched && addUserForm.controls.weight.invalid">
        <span *ngIf="addUserForm.controls.weight.errors.required">This field is required.</span>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>
<div>
  <div *ngFor="let user of users$ | async">
    {{ user.name }}
    {{ user.friends }}
    {{ user.age }}
    {{ user.weight }}
  </div>
</div>
